openapi: 3.0.0
info:
  title: Alfalyzer API
  version: 1.0.0
  description: |
    The Alfalyzer API provides access to financial market data, portfolio management,
    watchlists, and AI-powered earnings transcript analysis.
    
    ## Authentication
    Most endpoints require authentication via Bearer token in the Authorization header.
    
    ## Rate Limiting
    - Anonymous: 60 requests per minute
    - Authenticated: 300 requests per minute
    - Financial data endpoints: 10 requests per minute
    
  contact:
    email: api@alfalyzer.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.alfalyzer.com/v1
    description: Production server
  - url: http://localhost:3001/api
    description: Development server

tags:
  - name: Authentication
    description: User authentication and registration
  - name: Stocks
    description: Stock market data and analysis
  - name: Portfolios
    description: Portfolio management
  - name: Watchlists
    description: Stock watchlists
  - name: Transcripts
    description: Earnings call transcripts
  - name: Admin
    description: Admin operations

paths:
  /auth/register:
    post:
      tags:
        - Authentication
      summary: Register new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
                - password
              properties:
                name:
                  type: string
                  example: John Doe
                email:
                  type: string
                  format: email
                  example: john@example.com
                password:
                  type: string
                  format: password
                  minLength: 8
                  example: SecurePass123!
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: User already exists

  /auth/login:
    post:
      tags:
        - Authentication
      summary: Login user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags:
        - Authentication
      summary: Logout user
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Logout successful
        '401':
          $ref: '#/components/responses/Unauthorized'

  /stocks/search:
    get:
      tags:
        - Stocks
      summary: Search stocks by symbol or name
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            minLength: 1
          description: Search query
          example: AAPL
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StockSearchResult'
        '400':
          $ref: '#/components/responses/BadRequest'

  /stocks/{symbol}:
    get:
      tags:
        - Stocks
      summary: Get stock details
      parameters:
        - name: symbol
          in: path
          required: true
          schema:
            type: string
          description: Stock symbol
          example: AAPL
      responses:
        '200':
          description: Stock details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockDetails'
        '404':
          $ref: '#/components/responses/NotFound'

  /stocks/{symbol}/quote:
    get:
      tags:
        - Stocks
      summary: Get real-time stock quote
      parameters:
        - name: symbol
          in: path
          required: true
          schema:
            type: string
          description: Stock symbol
      responses:
        '200':
          description: Real-time quote
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockQuote'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /stocks/{symbol}/history:
    get:
      tags:
        - Stocks
      summary: Get historical price data
      parameters:
        - name: symbol
          in: path
          required: true
          schema:
            type: string
        - name: interval
          in: query
          schema:
            type: string
            enum: [1d, 1w, 1mo, 3mo, 1y, 5y]
            default: 1mo
        - name: period
          in: query
          schema:
            type: string
            enum: [daily, weekly, monthly]
            default: daily
      responses:
        '200':
          description: Historical data
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                  history:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          format: date
                        open:
                          type: number
                        high:
                          type: number
                        low:
                          type: number
                        close:
                          type: number
                        volume:
                          type: integer

  /portfolios:
    get:
      tags:
        - Portfolios
      summary: List user portfolios
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of portfolios
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Portfolio'
        '401':
          $ref: '#/components/responses/Unauthorized'
    
    post:
      tags:
        - Portfolios
      summary: Create new portfolio
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  example: My Investment Portfolio
                description:
                  type: string
                  example: Long-term growth investments
      responses:
        '201':
          description: Portfolio created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /portfolios/{id}:
    get:
      tags:
        - Portfolios
      summary: Get portfolio details
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Portfolio details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    
    put:
      tags:
        - Portfolios
      summary: Update portfolio
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
      responses:
        '200':
          description: Portfolio updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    
    delete:
      tags:
        - Portfolios
      summary: Delete portfolio
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Portfolio deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /portfolios/{id}/holdings:
    post:
      tags:
        - Portfolios
      summary: Add holding to portfolio
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - symbol
                - quantity
                - avgCost
              properties:
                symbol:
                  type: string
                  example: AAPL
                quantity:
                  type: number
                  example: 100
                avgCost:
                  type: number
                  example: 150.50
      responses:
        '201':
          description: Holding added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Holding'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /watchlists:
    get:
      tags:
        - Watchlists
      summary: List user watchlists
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of watchlists
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Watchlist'
        '401':
          $ref: '#/components/responses/Unauthorized'
    
    post:
      tags:
        - Watchlists
      summary: Create new watchlist
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  example: Tech Stocks
                description:
                  type: string
                  example: Technology companies to watch
      responses:
        '201':
          description: Watchlist created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Watchlist'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /watchlists/{id}/stocks:
    post:
      tags:
        - Watchlists
      summary: Add stock to watchlist
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - symbol
              properties:
                symbol:
                  type: string
                  example: AAPL
      responses:
        '201':
          description: Stock added to watchlist
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /transcripts:
    get:
      tags:
        - Transcripts
      summary: List earnings transcripts
      parameters:
        - name: ticker
          in: query
          schema:
            type: string
          description: Filter by stock ticker
        - name: quarter
          in: query
          schema:
            type: string
            enum: [Q1, Q2, Q3, Q4]
        - name: year
          in: query
          schema:
            type: integer
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, published]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: List of transcripts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TranscriptSummary'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /transcripts/{id}:
    get:
      tags:
        - Transcripts
      summary: Get transcript details
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Transcript details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranscriptDetails'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/transcripts:
    post:
      tags:
        - Admin
      summary: Upload new transcript
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ticker
                - company_name
                - quarter
                - year
                - raw_transcript
              properties:
                ticker:
                  type: string
                  example: AAPL
                company_name:
                  type: string
                  example: Apple Inc.
                quarter:
                  type: string
                  enum: [Q1, Q2, Q3, Q4]
                year:
                  type: integer
                  example: 2024
                call_date:
                  type: string
                  format: date
                raw_transcript:
                  type: string
      responses:
        '201':
          description: Transcript created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranscriptDetails'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    AuthResponse:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        token:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

    User:
      type: object
      properties:
        id:
          type: string
          example: user_123
        email:
          type: string
          format: email
        name:
          type: string
        role:
          type: string
          enum: [user, admin]
          default: user
        createdAt:
          type: string
          format: date-time

    StockSearchResult:
      type: object
      properties:
        symbol:
          type: string
          example: AAPL
        name:
          type: string
          example: Apple Inc.
        type:
          type: string
          example: Common Stock
        exchange:
          type: string
          example: NASDAQ

    StockDetails:
      type: object
      properties:
        symbol:
          type: string
        name:
          type: string
        exchange:
          type: string
        sector:
          type: string
        industry:
          type: string
        marketCap:
          type: number
        pe:
          type: number
        dividendYield:
          type: number
        week52High:
          type: number
        week52Low:
          type: number
        description:
          type: string

    StockQuote:
      type: object
      properties:
        symbol:
          type: string
        price:
          type: number
          example: 175.50
        change:
          type: number
          example: 2.34
        changePercent:
          type: number
          example: 1.35
        volume:
          type: integer
          example: 45234567
        dayHigh:
          type: number
        dayLow:
          type: number
        open:
          type: number
        previousClose:
          type: number
        timestamp:
          type: string
          format: date-time

    Portfolio:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        value:
          type: number
        cost:
          type: number
        gain:
          type: number
        gainPercent:
          type: number
        holdingCount:
          type: integer
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    PortfolioDetails:
      allOf:
        - $ref: '#/components/schemas/Portfolio'
        - type: object
          properties:
            holdings:
              type: array
              items:
                $ref: '#/components/schemas/Holding'

    Holding:
      type: object
      properties:
        id:
          type: string
        symbol:
          type: string
        name:
          type: string
        quantity:
          type: number
        avgCost:
          type: number
        currentPrice:
          type: number
        value:
          type: number
        gain:
          type: number
        gainPercent:
          type: number

    Watchlist:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        stockCount:
          type: integer
        stocks:
          type: array
          items:
            type: object
            properties:
              symbol:
                type: string
              name:
                type: string
              price:
                type: number
              change:
                type: number
              changePercent:
                type: number
              addedAt:
                type: string
                format: date-time

    TranscriptSummary:
      type: object
      properties:
        id:
          type: integer
        ticker:
          type: string
        company_name:
          type: string
        quarter:
          type: string
        year:
          type: integer
        call_date:
          type: string
          format: date
        status:
          type: string
          enum: [pending, published]
        has_ai_summary:
          type: boolean
        view_count:
          type: integer
        published_at:
          type: string
          format: date-time

    TranscriptDetails:
      allOf:
        - $ref: '#/components/schemas/TranscriptSummary'
        - type: object
          properties:
            raw_transcript:
              type: string
            ai_summary:
              type: object
              properties:
                summary:
                  type: string
                highlights:
                  type: array
                  items:
                    type: string
                sentiment:
                  type: string
                  enum: [positive, neutral, negative]

    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer

    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        statusCode:
          type: integer

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'